<% var data = {
   title: "7even - Фінал"
 }; %>
 <%= _.template(require('./../includes/header.html').default)(data) %>
 
 <main data-barba="container" data-barba-namespace="home" class="main">
   
   <div class="mainpage">
     <div class="container">

       <div class="block myAnimate dialog right dialog-final-1">
         <div class="info">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 849 148" style="enable-background:new 0 0 849 148;" xml:space="preserve"><polygon class="st0" points="16,12.5 42,139.5 777,119.5 834,91.5 777.5,95 737,22.5 "/></svg>
           <p>Ось і підійшов наш шлях до кінця. Це був довгий та тернистий шлях, який допоміг тобі досягнути бажаних результатів, вирішувати проблеми.</p>
         </div>
         <div class="image-wrap">
           <div class="img-wrap">
            <img src="img/final1.png" alt="">
           </div>
         </div>
       </div>

       <div class="block myAnimate dialog left dialog-final-2">
        <div class="image-wrap">
          <div class="img-wrap">
            <img src="img/final2.png" alt="">
          </div>
        </div>
        <div class="info">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 725.2 172.1" style="enable-background:new 0 0 725.2 172.1;" xml:space="preserve"><polygon class="st0" points="718.8,170.6 685.8,1.6 1.8,18.6 50.8,41.6 80.8,147.6 "/></svg>
          <p>Детально опрацювавши всю інформацію на сайті, ти отримав дещо більше. Ти навчився вчитися. Не думаю, що тепер пошук будь якої інформації для тебе буде проблемою. Провівши багато часу на хабрі, стаковерфлоу і інших подібних сервісах, тепер ти розумієш, що в гугла є відповіді на всі твої запитання. </p>
        </div>
      </div>

      <div class="block myAnimate dialog right dialog-final-3">
        <div class="info">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 558 109" style="enable-background:new 0 0 558 109;" xml:space="preserve"><polygon class="st0" points="20,104 528,83 549,69 532,69 527,14 5,5 "/></svg>
          <p>Ти навчився добре фільтрувати інфу. Тепер ти сам розумієш, де є якісна подача контенту, де актуальна інфа, на що потрібно витрачати свій дорогоцінний час, на що ні. </p>
        </div>
        <div class="image-wrap">
          <div class="img-wrap">
            <img src="img/final3.png" alt="">
          </div>
        </div>
      </div>

      <div class="block myAnimate dialog left dialog-final-4">
        <div class="image-wrap">
          <div class="img-wrap">
            <img src="img/final4.png" alt="">
          </div>
        </div>
        <div class="info">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 417 96" style="enable-background:new 0 0 417 96;" xml:space="preserve"><polygon class="st0" points="20.5,81.5 364.5,75.5 402,12 61.5,34.5 47.5,67.5 "/></svg>
          <p>Я дуже сподіваюсь, що запал в твоїх очах ще не потух і, закривши цю вкладку, ти зрозумієш, що все це тільки початок. </p>
        </div>
      </div>
      
     </div>
   </div>
 
 </main>
 
 <%= _.template(require('./../includes/footer.html').default)(data) %>
 