@import "./default.scss";

$blue: #0092fc;
$green: #00fe33;

body {
    font-family: "Roboto";
    line-height: 1.2;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    position: relative;
    background: black;
    color: white;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.preloader {
    background: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    pointer-events: none;

    .logo-wrap {
        width: 150px;
        svg {
            path {
                fill: $blue;
            }
        }
    }
}

header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background: black;

    .container {
        height: 100%;
    }

    .logo-wrap {
        transition: all 0.4s linear;
        width: 50px;
        svg {
            path {
                fill: $blue;
            }
        }
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            margin-left: 35px;
        }
    }
}

main {
    padding: 100px 0 50px 0;
}

.video-wrap {
    .iframe-wrap {
        border-radius: 15px;
        overflow: hidden;
    }

    &.playlist {
        position: relative;
        margin-top: 100px;
        pointer-events: none;

        .svg-wrap {
            position: absolute;
            width: 180px;
            height: 80px;
            top: -60px;
            left: calc(100% - 150px);

            .svg-dialog {
                width: 100%;
                height: auto;
                position: absolute;
                top: 0;
                left: 0;
                * {
                    fill: #FE0072;
                }
            }

            .svg-info {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 80%;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    font-size: 16px;
                }
            }
        }

        .image-wrap {
            position: absolute;
            top: -5%;
            left: 100%;
            z-index: 10;
            width: 240px;
        }
    }
}

iframe {
    width: 100%;
}

.menu-wrap, .link {
    a {
        position: relative;
        font-size: 18px;

        &::after {
            content: "/";
            font-size: 18px;
            color: $blue;
            opacity: 0;
        }

        &:hover,
        &.active {
            color: $blue;

            &::after {
                opacity: 1;
            }
        }
    }
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

section {
    position: relative;
}

.button {
    padding: 0 15px;
    width: 100%;
    height: 45px;
    color: $blue;
    text-decoration: none;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s ease all;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: "";
        background-color: $blue;
        z-index: -2;
    }

    &:hover {
        color: #fff;
        &:before {
            -webkit-transition: 0.5s all ease;
            transition: 0.5s all ease;
            left: 0;
            right: 0;
            opacity: 1;
        }
    }

    &:focus {
        color: #fff;
        &:before {
            transition: 0.5s all ease;
            left: 0;
            right: 0;
            opacity: 1;
        }
    }
}

h1 {
    font-family: "DIN";
    font-size: 48px;
    margin-bottom: 36px;
}

h2 {
    font-size: 30px;
    line-height: 1.6;
}

p {
    font-family: "SourceCodePro";
    font-size: 20px;
}

a {
    font-family: "SourceCodePro";
    display: inline-block;
    color: white;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        color: white;
        text-decoration: none;
    }
}

.main {
    opacity: 0;
    &.active {
        opacity: 1;
    }
}

.mainpage {
    width: 100%;
    overflow: hidden;

    .flex-wrap {
        width: 100%;
        height: 100%;
    }
}

.burger-wrap {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);  
    transition: all 0.4s linear;

    .burger {
        display: none;
        transform: translateX(-15px) scale(0.45);
    
        label {
            display: flex;
            flex-direction: column;
            width: 70px;
            cursor: pointer;
        }
    
        label span {
            background: #fff;
            border-radius: 10px;
            height: 7px;
            margin: 7px 0;
            transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        }
    
        span:nth-of-type(1) {
            width: 50%;
        }
    
        span:nth-of-type(2) {
            width: 100%;
        }
    
        span:nth-of-type(3) {
            width: 75%;
        }
    
        input[type="checkbox"] {
            display: none;
        }
    }
}

header {
    &.active {
        .logo-wrap {
            opacity: 0;
        }

        .burger-wrap {
            left: 250px;

            input[type="checkbox"] ~ span:nth-of-type(1) {
                transform-origin: bottom;
                transform: rotatez(45deg) translate(8px, 0px);
            }
    
            input[type="checkbox"] ~ span:nth-of-type(2) {
                transform-origin: top;
                transform: rotatez(-45deg);
            }
    
            input[type="checkbox"] ~ span:nth-of-type(3) {
                transform-origin: bottom;
                width: 50%;
                transform: translate(30px, -11px) rotatez(45deg);
            }
        }
    }
}

.up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 90;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 50px;
        height: auto;
        fill: $blue;
        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;
        transition: all 0.35s ease-in;
    }

    &.active {
        svg {
            opacity: 1;
            transform: translateX(0);
            pointer-events: all;
        }
    }
}

.mob-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    transform: translateX(-100%);
    transition: all 0.4s linear;
    display: flex;

    .back {
        width: calc(100% - 220px);
        height: 100%;
    }

    &.active {
        transform: translateX(0);
    }

    .menu-wrap {
        padding-top: 20px;
        width: 220px;
        height: 100%;
        background: rgb(31, 31, 31);
        li {
            a {
                display: block;
                font-size: 14px;
                padding: 10px 20px;
                transition: all 0.2s linear;
                &::after {
                    display: none;
                }
                &:hover, &:active, &:focus, &.active {
                    color: white;
                    background: rgb(73, 73, 73);
                }
            }
        }
    }
}

.block {
    margin: 40px auto;

    .line {
        width: 100%;
        height: 3px;
        background: $blue;
        margin: 80px 0;
    }

    h1 {
        font-size: 32px;
        color: $blue;
        padding: 30px 0;
        text-transform: uppercase;
        text-align: center;
    }
}

p {
    line-height: 1.4;
    font-size: 18px;
}

.dialog {
    display: flex;
    align-items: center;

    .info {
        width: auto;
        max-width: calc(100% - 180px);
        height: 100%;
        color: white;
        position: relative;

        p {
            font-size: 15px;
        }

        svg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            fill:#191919;
            stroke:#E5E5E5;
            stroke-width:2;
            stroke-miterlimit:10;
        }
    }

    .image-wrap {
        width: 150px;
        margin-right: 30px;
    }

    &.right {
        justify-content: flex-end;

        .image-wrap {
            margin-right: 0;
            margin-left: 30px;
        }
    }
}

// Dialog coord

.dialog .info p {
    width: 80%;
    transform: translate(55px, 25px);
}

.dialog-index-1 .info {
    svg {
        width: 105%;
    }
    p {
        width: 90%;
        transform: translate(55px, 22px);
    }
}

.dialog-index-2, .dialog-index-3 {
    margin-top: 80px;
}


.dialog-index-2 {
    .image-wrap {
        transform: scale(1.25) translate(0, -40px);
    }
    .info {
        transform: translate(-60px, -40px);
    
        p {
            transform: translate(110px, 20px);
        }
    }
}

.dialog-index-3 .info {
    transform: translate(20px, -70px);

    p {
        width: 80%;
        transform: translate(55px, 35px);
    }
}

.dialog-index-4 .info {
    transform: translate(20px, -50px);

    p {
        width: 80%;
        transform: translate(105px, 3   5px);
    }
}

.dialog-index-5 .info {
    transform: translate(20px, -30px);

    p {
        width: 80%;
        transform: translate(55px, 35px);
    }
}

.dialog-index-6 .info {
    transform: translate(-30px, -70px);

    svg {
        width: 100%;
    }
    p {
        width: 70%;
        transform: translate(130px,67px);
    }
}

.dialog-html-1 .info {
    transform: translate(30px, -25px);

    p {
        width: 80%;
        transform: translate(55px, 25px);
    }
} 

.dialog-html-2 .info {
    transform: translate(-50px, -30px);
    svg {
        width: 160%;
    }
    p {
        width: 100%;
        transform: translate(70px, 35px);
    }
}

.dialog-html-3 .info {
    transform: translate(0px, -30px);

    p {
        width: 80%;
        transform: translate(55px, 35px);
    }
}

.dialog-html-4 .info {
    transform: translate(0px, -30px);

    svg {
        width: 150%;
    }
    p {
        width: 100%;
        transform: translate(55px, 25px);
    }
}

.dialog-html-5 .info {
    transform: translate(0px, -30px);

    p {
        width: 80%;
        transform: translate(55px, 27px);
    }
} 

.dialog-css-1 .info {
    transform: translate(-30px, -10px);

    svg {
        width: 130%;
    }

    p {
        width: 100%;
        transform: translate(32px,20px);
    }
}

.dialog-css-2 .info {
    transform: translate(-20px, -20px);

    svg {
        width: 150%;
    }

    p {
        width: 100%;
        transform: translate(73px,40px);
    }
}

.dialog-css-3 .info {
    transform: translate(130px, -20px);

    svg {
        width: 90%;
    }

    p {
        transform: translate(45px,30px);
    }
}

.dialog-css-4 .info {
    transform: translate(-10px, 0px);

    svg {
        width: 110%;
    }

    p {
        transform: translate(45px,17px);
    }
}

.dialog-css-5 .info {
    transform: translate(125px, -15px);

    svg {
        width: 85%;
    }

    p {
        transform: translate(40px,25px);
    }
}

.dialog-verstka-1 .info {
    transform: translate(15px, -35px);

    p {
        transform: translate(50px, 30px);
    }
}

.dialog-verstka-2 .info {
    transform: translate(-30px, -70px);

    svg {
        width: 110%;
    }

    p {
        width: 80%;
        transform: translate(150px, 75px);
    }
}

.dialog-verstka-3 .info {
    transform: translate(140px, -15px);

    svg {
        width: 85%;
    }

    p {
        width: 70%;
        transform: translate(48px, 18px);
    }
}

.dialog-verstka-4 .info {
    transform: translate(-30px, -70px);

    svg {
        width: 100%;
    }

    p {
        width: 70%;
        transform: translate(130px, 65px);
    }
}

.dialog-js-1 .info {
    transform: translate(25px, -50px);

    svg {
        width: 95%;
    }

    p {
        width: 75%;
        transform: translate(50px,35px);
    }
}

.dialog-js-2 .info {
    transform: translate(-20px, -65px);

    svg {
        width: 130%;
    }

    p {
        width: 100%;
        transform: translate(50px,40px);
    }
}

.dialog-js-3 .info {
    transform: translate(20px, -25px);

    p {
        transform: translate(55px, 38px);
    }
}

.dialog-js-4 .info {
    transform: translate(190px, -25px);

    svg {
        width: 75%;
    }

    p {
        width: 70%;
        transform: translate(48px, 23px);
    }
}

.dialog-js-5 .info {
    transform: translate(170px, -25px);

    svg {
        width: 80%;
    }

    p {
        width: 70%;
        transform: translate(40px,26px);
    }
}

.dialog-js-6 .info {
    transform: translate(-20px, -55px);

    svg {
        width: 80%;
    }

    p {
        width: 50%;
        transform: translate(95px,39px);
    }
}

.dialog-js-7 .info {
    transform: translate(125px, -25px);

    svg {
        width: 80%;
    }

    p {
        width: 60%;
        transform: translate(50px,20px);
    }
}

.dialog-js-8 .info {
    transform: translate(80px, -25px);

    svg {
        width: 90%;
    }

    p {
        width: 70%;
        transform: translate(50px,30px);
    }
}

.dialog-react-1 .info {
    transform: translate(10px, -30px);

    p {
        transform: translate(60px,30px);
    }
}

.dialog-react-2 .info {
    transform: translate(10px, -30px);

    p {
        transform: translate(60px,30px);
    }
}

.dialog-react-3 .info {
    transform: translate(-80px, -30px);

    svg {
        width: 135%;
    }

    p {
        width: 100%;
        transform: translate(35px,15px);
    }
}

.dialog-react-4 .info {
    transform: translate(140px, 0px);

    svg {
        width: 80%;
    }

    p {
        width: 65%;
        transform: translate(45px,20px);
    }
}

.dialog-react-5 .info {
    transform: translate(100px, -20px);

    svg {
        width: 85%;
    }

    p {
        width: 70%;
        transform: translate(55px,25px);
    }
}

.dialog-other-1 .info {
    transform: translate(-40px, -30px);

    svg {
        width: 85%;
    }

    p {
        width: 60%;
        transform: translate(97px,43px);
    }
}

.dialog-other-2 {
    margin-top: 80px;
}

.dialog-other-2 .info {
    transform: translate(0px, -50px);

    p {
        transform: translate(60px,27px);
    }
}

.dialog-other-3 .info {
    transform: translate(-20px, -60px);

    svg {
        width: 70%;
    }

    p {
        width: 50%;
        transform: translate(80px,43px);
    }
}

.dialog-other-4 .info {
    transform: translate(60px, -45px);

    p {
        width: 90%;
        transform: translate(50px,35px);
    }
}

.dialog-other-5 .info {
    transform: translate(40px, -45px);

    p {
        transform: translate(60px,35px);
    }
}

.dialog-other-6 .info {
    transform: translate(10px, -45px);

    p {
        transform: translate(50px,35px);
    }
}

.dialog-other-7 .info {
    transform: translate(230px, -25px);

    svg {
        width: 70%;
    }

    p {
        width: 60%;
        transform: translate(40px,25px);
    }
}

.dialog-other-8 .info {
    transform: translate(0px, -25px);

    p {
        transform: translate(65px,30px);
    }
}

.dialog-other-9 .info {
    transform: translate(230px, -25px);

    svg {
        width: 70%;
    }

    p {
        width: 60%;
        transform: translate(40px,20px);
    }
}

.dialog-other-10 .info {
    transform: translate(230px, 0px);

    svg {
        width: 70%;
    }

    p {
        width: 60%;
        transform: translate(40px,20px);
    }
}

.dialog-other-11 .info {
    transform: translate(80px, -25px);

    svg {
        width: 85%;
    }

    p {
        width: 60%;
        transform: translate(40px,20px);
    }
}

.dialog-other-12 .info {
    transform: translate(0px, -25px);

    p {
        transform: translate(50px,35px);
    }
}

.dialog-other-13 .info {
    transform: translate(10px, -60px);

    p {
        transform: translate(50px,40px);
    }
}

.dialog-final-1 .info {
    transform: translate(120px, -25px);

    svg {
        width: 85%;
    }

    p {
        width: 60%;
        transform: translate(50px,20px);
    }
}

.dialog-final-2 {
    margin-bottom: 80px;
}

.dialog-final-2 .info {

    p {
        transform: translate(110px,30px);
    }
}

.dialog-final-3 .info {
    transform: translate(120px, -25px);

    svg {
        width: 85%;
    }

    p {
        width: 70%;
        transform: translate(50px,22px);
    }
}

.dialog-final-4 .info {
    transform: translate(-40px,-65px);

    p {
        width: 70%;
        transform: translate(130px,68px);
    }
}

.myAnimate {
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.35s ease-in-out;

    &.active {
        opacity: 1;
        transform: scale(1);
    }
}

.link {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 25px;

    a {
        padding: 15px 35px;
        display: flex;
        align-items: center;
        transition: all 0.2s linear;
        color: black !important;

        &::after {
            display: none !important;
        }
    }

    .cursor {
        margin-left: 7px;
        width: 20px;
        height: auto;
        fill: black;
        transition: all 0.2s linear;
    }

    .back {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: -1;
        fill: #00fe33;
        transition: all 0.2s linear;
    }

    & a:hover {
        .back {
            fill: #2ebd03;
        }
    }

    
}

.rombs-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    display: none;

    .romb {
        .inner {
            width: 100%;
            height: 100%;
            background: $blue;
            transform: rotate(45deg);
        }

        width: 60px;
        height: 60px;
        border-radius: 5px;
        position: absolute;

        &.romb1 {
            top: 10%;
            left: -150px;
        }

        &.romb2 {
            width: 80px;
            height: 80px;
            top: 30%;
            right: -160px;
        }

        &.romb3 {
            width: 50px;
            height: 50px;
            top: 50%;
            left: -250px;
        }

        &.romb4 {
            width: 40px;
            height: 40px;
            top: 50%;
            right: -120px;
        }

        &.romb5 {
            width: 80px;
            height: 80px;
            top: 110%;
            left: -180px;
        }
    }
}

footer {
    padding: 70px;
    border-top: 2px solid white;

    p {
        font-size: 18px;
    }

    span {
        color: $blue;
    }

    .container {
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 1280px) {
    .video-wrap.playlist .image-wrap {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .video-wrap {
        &.playlist {
            margin-top: 60px;
    
            .svg-wrap {
                width: 120px;
                height: 50px;
                top: -40px;
                left: calc(100% - 110px);
    
                .svg-info {
                    p {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .dialog {
        .image-wrap {
            transform: scale(1) !important;
        }
    }

    .dialog .info {
        padding: 15px;
        border: 2px solid white;
        border-radius: 15px;
        transform: translate(0, 0) !important;

        svg {
            display: none;
        }

        p {
            width: 100% !important;
            transform: translate(0, 0) !important;
        }
    }

    .rombs-wrap {
        display: none;
    }

    p {
        font-size: 16px;
    }

    .block {
        margin: 30px 0;
    }

    header {
        height: 80px;

        .logo-wrap {
            width: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .menu-wrap {
            display: none;
        }
    }
    
    .burger-wrap {
        .burger {
            display: block;
        }
    }

    .up {
        bottom: 30px;
        right: 20px;
        width: 24px;
        height: 24px;
    
        svg {
            width: 24px;
        }
    }

    footer {
        padding: 42px;
    
        p {
            font-size: 14px;
        }
    
        .container {
            justify-content: flex-start;
        }
    }
}

@media screen and (max-width: 768px) {
    p {
        font-size: 14px;
    }

    .dialog {
        justify-content: space-between !important;

        .info {
            width: calc(100% - 110px);
            max-width: initial;
            padding: 10px 15px;
        }
        
        .image-wrap {
            width: 90px;
            height: 90px;
            margin: 0 !important;
        }
    }

    footer {
        padding: 32px 0;
    
        p {
            width: 80%;
        }
    }

    .block {
        .line {
            margin: 50px 0;
        }
        h1 {
            padding: 0;
        }
    }
}
